body {
    background-color: rgb(240, 239, 224);
    scroll-behavior: smooth;
   
}

* {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0%;
    scrollbar-color: rgba(116, 135, 116, 0.336) rgba(255, 228, 196, 0) ;
}
/*
.width-fix {
  margin-right: auto;
  margin-left: auto;
   width: 500px;
}
*/
/*----------------------imports--------------------------*/

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Kaisei+HarunoUmi&family=Kode+Mono:wght@400..700&family=Press+Start+2P&family=Silkscreen:wght@400;700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
  }



  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

  .open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
  
  .ibm-plex-serif-thin {
    font-family: "IBM Plex Serif", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .ibm-plex-serif-extralight {
    font-family: "IBM Plex Serif", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .ibm-plex-serif-light {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ibm-plex-serif-regular {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ibm-plex-serif-medium {
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ibm-plex-serif-semibold {
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .ibm-plex-serif-bold {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ibm-plex-serif-thin-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .ibm-plex-serif-extralight-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .ibm-plex-serif-light-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ibm-plex-serif-regular-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ibm-plex-serif-medium-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ibm-plex-serif-semibold-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .ibm-plex-serif-bold-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-style: italic;
  }
  

/*----------------------text-styles--------------------------*/

nav > ul {
    list-style-type: none;
}

nav a:link {
    text-decoration: none;
    color:antiquewhite;
    font-family: "Silkscreen";
    font-size: max(1em, 20px);
    text-shadow: 2px 2px #373754;
    padding: 1%
   
}

  h1 {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #849b79;
    text-shadow: 1px 2px #373754;
  }

  h2 {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: rgb(228, 124, 109);
    text-shadow: 1px 2px #373754;
  }

  #name {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    padding-top: 10%;
    color: antiquewhite;
    text-shadow: 2px 2px #373754;
  }

  #bio {
    color: #faebd7;
    font-family: "IBM Plex Serif", serif;
    font-size: max(1em, 14px);
    font-weight: 300;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 6%;
    
  }

   #name, #bio {
    padding-left: 6%;
   }


   .title {
    font-family: "IBM Plex Serif", serif;
    color: #373754;
   }

   .desc {
    font-family: "IBM Plex Serif", serif;
    color: #373754;
    
   }

   footer {
    font-family: "IBM Plex Serif", serif;
    color: #373754;
    font-size: 12px;
   }

/*----------------------effects--------------------------*/

a> .pointer {
    display: inline;
    opacity: 0;
  }
  
a:hover > .pointer{
    display: inline;
    opacity: 100%;
  }
a:hover {
  color: #ffca67 !important;
  background-color: rgba(250, 235, 215, 0.377);
}



#up a{
  background-image: url(/Portfolio/images/top.png);
  background-repeat: no-repeat;
  height: 28px;
  width: 28px;
  display: inline-block;

}

#up a:hover {
  background-image: url(/Portfolio/images/top.gif);
  background-repeat: no-repeat;
}



/*----------------------layout-styles--------------------------*/

aside {
  background-color: #718369;
 
}


.gallery-item {
  background-color: aliceblue;
  box-shadow: 8px 8px #7183693c;
  
}

main {
  background-image: url(/Portfolio/images/bg2.png);
  background-repeat: repeat-y;
  background-position: left;
  
}


/*----------------------layout--------------------------*/

#container {
    display: flex;
    flex-flow: row wrap;
    max-width: 100vw;
    height: 100vh;
}

aside {
    flex: 0 2 25vw;
    padding-bottom: 5%;   
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.title {
    display: inline-block;
    text-align: center;
    padding-bottom: 5%;
    width: 100%;
}

main {
    flex: 2 1 500px;
    padding: 3%;
}

main, aside {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
}


.gallery-item {
    padding: 2.5%;
    padding-bottom: 10px;
    margin: 3%;
}

.gallerypic {
  max-height: 500px;
}


.desc {
    max-width: 250px;
    
}

footer {
   
    width: 100%;
    margin-top: 2em;
    padding: 1%;  

    text-align: center; 
    
}

#pfp {
    width: 80%;
    padding-left: 10%;
    padding-right: 5%;
    
}

#controls {
  
    display: inline-block;
    
    height: 28px;
    position: fixed;
    bottom: 0;
    right: 0;
    
    margin: .5%;
    margin-bottom: 2.5%;
}

#row {
  display: none;
}


/*----------------------resize-medium--------------------------*/

@media screen and (max-width: 950px) {

    aside {
        flex: 1 0 100%;
        width: 100%;
        height: fit-content;   
        
    }

    nav {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: row;
        justify-content: center;
        text-align: center;      
        padding: 0%;
    }

    #name {
      
      display: none;
     
    }

    #bio {
      font-size: max(1em, 18px);
      padding: 3%;
    }

    #pfp {
      display: none;
    padding: 0%;
    height: 200px;
    width: 200px;
    }

    #row {
      display: inline-block;
      vertical-align:bottom;
      padding: 3%;
      
     
    }

    #label { 
      display:inline-block;
      font-family: "Silkscreen", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: max(1em, 35px);
      padding-bottom: 1%;
      text-align: left;
      color: antiquewhite;
      text-shadow: 2px 2px #373754;
     
      }

    #pfp2 {
      height: 300px;
      object-fit: scale-down;
      
    }

    nav a:link {
      font-size: max(1em, 18px);
    }
}

/*----------------------resize-small--------------------------*/

@media screen and (max-width: 500px) {

  main {
    background-image: none;
  }

}



/*----------------------resize-tinyyy--------------------------*/

@media screen and (max-width: 300px) {

  #label { 
   
    font-size: max(1em, 25px);
  }

  #bio {

    font-size: 15px;
    padding-bottom: 10%;
    display: none;
  }

  #pfp2 {
    display: none;
  }
  
  main {
    background-image: none;
  }
    

}